.contact-form31-wrapper {
  display: contents;
}
.contact-form31-contact9 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact-form31-content1 {
  gap: 0;
  flex: 1;
  align-items: stretch;
}
.contact-form31-section-title {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form31-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form31-input1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.contact-form31-input2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.contact-form31-container1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.contact-form31-checkbox1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
}
.contact-form31-text16 {
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.contact-form31-button {
  align-self: flex-start;
  text-decoration: none;
}
.contact-form31-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
}
.registration1-fragment2 {
  display: contents;
}
.registration1-text2 {
  display: inline-block;
}
.registration1-fragment3 {
  display: contents;
}
.registration1-text3 {
  display: inline-block;
}
.registration1-fragment1 {
  display: contents;
}
.registration1-text1 {
  display: inline-block;
}



@media(max-width: 991px) {
  .contact-form31-max-width {
    flex-direction: column;
  }
  .contact-form31-content1 {
    width: 100%;
  }
}

.registration1-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.registration1-fragment1 {
  display: contents;
}
.registration1-text1 {
  display: inline-block;
}
.registration1-fragment2 {
  display: contents;
}
.registration1-text2 {
  display: inline-block;
}
.registration1-fragment3 {
  display: contents;
}
.registration1-text3 {
  display: inline-block;
}
